USE [master]
GO
/****** Object:  Database [SocialAppDb]    Script Date: 18/07/2025 16:14:56 ******/
CREATE DATABASE [SocialAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SocialAppDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SocialAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SocialAppDb_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialAppDb]
GO
/****** Object:  Table [dbo].[ChangePassWordTokens]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangePassWordTokens](
	[ChangePassWordTokenId] [nvarchar](50) NOT NULL,
	[ChangePassWordToken] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ChangePa__223BA091CCB6FBC6] PRIMARY KEY CLUSTERED 
(
	[ChangePassWordTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[PostId] [nvarchar](50) NOT NULL,
	[SentAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Comments__C3B4DFCAF07A37FE] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationMembers]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationMembers](
	[ConversationMemberId] [nvarchar](50) NOT NULL,
	[ConversationId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Conversa__6CF984272C762FF9] PRIMARY KEY CLUSTERED 
(
	[ConversationMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationId] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendShipMembers]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendShipMembers](
	[FriendShipMemberId] [nvarchar](50) NOT NULL,
	[FriendShipId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__FriendSh__2E3231C1A6DF0218] PRIMARY KEY CLUSTERED 
(
	[FriendShipMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendships]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendships](
	[FriendShipId] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FriendShipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitations]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitations](
	[InvitationId] [nvarchar](50) NOT NULL,
	[SenderId] [nvarchar](50) NOT NULL,
	[RecieverId] [nvarchar](50) NOT NULL,
	[invitationStatus] [smallint] NOT NULL,
	[SentAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Invitati__033C8DCF47A76372] PRIMARY KEY CLUSTERED 
(
	[InvitationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvitationStatuses]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvitationStatuses](
	[StatusId] [smallint] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__Invitati__C8EE206359160507] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[LikeId] [nvarchar](50) NOT NULL,
	[PostId] [nvarchar](50) NOT NULL,
	[LikedAt] [datetime] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Likes__A2922C14E3888649] PRIMARY KEY CLUSTERED 
(
	[LikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [nvarchar](50) NOT NULL,
	[SenderId] [nvarchar](50) NOT NULL,
	[ConversationId] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MessageMediaUrl] [nvarchar](255) NULL,
	[SentAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Messages__C87C0C9C03848B6D] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](150) NULL,
	[PostId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[NotificationTypeId] [smallint] NOT NULL,
	[NotificationDate] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK__Notifica__20CF2E12FDDA1A1D] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTypes]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTypes](
	[NotificationTypeId] [smallint] NOT NULL,
	[NotificationType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Notifica__4DF4D0E20A703496] PRIMARY KEY CLUSTERED 
(
	[NotificationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otps]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otps](
	[Id] [nvarchar](50) NOT NULL,
	[Code] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK__Otps__3214EC07DA9E318A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MediaUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Posts__AA1260186BEAE314] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[RefreshTokenId] [nvarchar](50) NOT NULL,
	[RefreshToken] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__RefreshT__F5845E39FE296746] PRIMARY KEY CLUSTERED 
(
	[RefreshTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[ProfilePic] [nvarchar](255) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Gender] [char](1) NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C716E9855] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangePassWordTokens]  WITH CHECK ADD  CONSTRAINT [FK__ChangePas__UserI__412EB0B6] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChangePassWordTokens] CHECK CONSTRAINT [FK__ChangePas__UserI__412EB0B6]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK__Comments__PostId__43D61337] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK__Comments__PostId__43D61337]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK__Comments__UserId__42E1EEFE] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK__Comments__UserId__42E1EEFE]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK__Conversat__Conve__6FE99F9F] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([ConversationId])
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK__Conversat__Conve__6FE99F9F]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK__Conversat__UserI__70DDC3D8] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK__Conversat__UserI__70DDC3D8]
GO
ALTER TABLE [dbo].[FriendShipMembers]  WITH CHECK ADD  CONSTRAINT [FK__FriendShi__Frien__75A278F5] FOREIGN KEY([FriendShipId])
REFERENCES [dbo].[Friendships] ([FriendShipId])
GO
ALTER TABLE [dbo].[FriendShipMembers] CHECK CONSTRAINT [FK__FriendShi__Frien__75A278F5]
GO
ALTER TABLE [dbo].[FriendShipMembers]  WITH CHECK ADD  CONSTRAINT [FK__FriendShi__UserI__76969D2E] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[FriendShipMembers] CHECK CONSTRAINT [FK__FriendShi__UserI__76969D2E]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK__Invitatio__invit__4E88ABD4] FOREIGN KEY([invitationStatus])
REFERENCES [dbo].[InvitationStatuses] ([StatusId])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK__Invitatio__invit__4E88ABD4]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK__Invitatio__Recie__4D94879B] FOREIGN KEY([RecieverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK__Invitatio__Recie__4D94879B]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK__Invitatio__Sende__4CA06362] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK__Invitatio__Sende__4CA06362]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK__Likes__PostId__46E78A0C] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK__Likes__PostId__46E78A0C]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK__Likes__UserId__47DBAE45] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK__Likes__UserId__47DBAE45]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK__Messages__Conver__7A672E12] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([ConversationId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK__Messages__Conver__7A672E12]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK__Messages__Sender__797309D9] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK__Messages__Sender__797309D9]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__Notif__6B24EA82] FOREIGN KEY([NotificationTypeId])
REFERENCES [dbo].[NotificationTypes] ([NotificationTypeId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK__Notificat__Notif__6B24EA82]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__PostI__693CA210] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK__Notificat__PostI__693CA210]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__UserI__6A30C649] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK__Notificat__UserI__6A30C649]
GO
ALTER TABLE [dbo].[Otps]  WITH CHECK ADD  CONSTRAINT [FK__Otps__UserId__3B75D760] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Otps] CHECK CONSTRAINT [FK__Otps__UserId__3B75D760]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK__Posts__UserId__440B1D61] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK__Posts__UserId__440B1D61]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK__RefreshTo__UserI__3E52440B] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK__RefreshTo__UserI__3E52440B]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewUser]    
@FirstName nvarchar(50),    
@LastName nvarchar(50),    
@UserName nvarchar(50),    
@DateOfBirth date,    
@Email nvarchar(50),    
@PassWord nvarchar(150),    
@Phone nvarchar(20),    
@ProfilePic nvarchar(255),    
@IsEmailVerified bit,    
@IsActive bit,
@Gender char(1),
@NewId nvarchar(50) output  
as    
begin    
 set @NewId = NEWID()  
 insert into Users    
 values   
 (@NewId,@FirstName,@LastName,@UserName,@DateOfBirth,@Email,@PassWord,@Phone,@ProfilePic,@IsEmailVerified,@IsActive,@Gender)    
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePassWord]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChangePassWord]
@UserId nvarchar(50),
@NewPassWord nvarchar(150)

as
begin
	update Users
	set PassWord = @NewPassWord
	where UserId = @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteUser]
@Email nvarchar(50),
@PassWord nvarchar(150)

as
begin
	delete from Users
	where Email = @Email and PassWord = @PassWord
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPendingInvitations]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetAllPendingInvitations]  
@UserId nvarchar(50)  
as  
begin  
select Invitations.* , Users.FirstName , Users.LastName , Users.ProfilePic , Users.Gender from Invitations inner join InvitationStatuses  
on (Invitations.invitationStatus = InvitationStatuses.StatusId) inner join Users
on (Invitations.SenderId = Users.UserId)
where Invitations.invitationStatus = 1 and RecieverId = @UserId  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPostForCurrentUser]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPostForCurrentUser]    
@UserId nvarchar(50) ,
@CurrentUserId nvarchar(50)
as    
begin    
 select Posts.PostId ,Posts.Content , Posts.MediaUrl , Posts.CreatedAt , Users.* , CommentsCount = (select COUNT(*) from Comments where Comments.PostId = Posts.PostId) ,     
 LikesCount = (select COUNT(*) from Likes where Likes.PostId = Posts.PostId) ,     
 IsLiked = case     
 when  exists(select * from Likes    
 where PostId = Posts.PostId and UserId = @CurrentUserId)  then 'yes'    
 else 'no'    
 end    
 from Posts inner join Users    
 on (posts.UserId = Users.UserId)    
 where Posts.UserId = @UserId  order by Posts.CreatedAt desc  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPosts]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPosts]    
@UserId nvarchar(50)    
as    
begin    
select Posts.PostId ,Posts.Content , Posts.MediaUrl , Posts.CreatedAt , Users.* , CommentsCount = (select COUNT(*) from Comments where Comments.PostId = Posts.PostId) ,     
LikesCount = (select COUNT(*) from Likes where Likes.PostId = Posts.PostId) ,     
IsLiked = case     
when  exists(select * from Likes    
where PostId = Posts.PostId and UserId = @UserId)  then 'yes'    
else 'no'    
end    
from Posts inner join Users    
on (posts.UserId = Users.UserId)    
where Posts.UserId in     
(    
 select FriendShipMembers.UserId from FriendShipMembers inner join Users    
 on (FriendShipMembers.UserId = Users.UserId) inner join Friendships    
 on (FriendShipMembers.FriendShipId = Friendships.FriendShipId)    
 where FriendShipMembers.FriendShipId in     
 (    
  select FriendShipMembers.FriendShipId from FriendShipMembers where FriendShipMembers.UserId = @UserId     
 )    
)  or Posts.UserId = @UserId  order by Posts.CreatedAt desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetConversationByMembers]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetConversationByMembers]
@CurrentUserId nvarchar(50),
@TargetUserId nvarchar(50)
as
begin
SELECT c.*
FROM Conversations c
JOIN ConversationMembers cm1 ON c.ConversationId = cm1.ConversationId
JOIN ConversationMembers cm2 ON c.ConversationId = cm2.ConversationId
WHERE cm1.UserId =@CurrentUserId AND cm2.UserId = @TargetUserId
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetConversationsByUserId]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetConversationsByUserId]
@UserId nvarchar(50)
as
begin
select ConversationMembers.ConversationMemberId , Users.* , ConversationMembers.ConversationId from ConversationMembers inner join Users
on (Users.UserId = ConversationMembers.UserId) inner join Conversations
on (ConversationMembers.ConversationId = Conversations.ConversationId)
where (ConversationMembers.ConversationId in 
(select ConversationMembers.ConversationId from ConversationMembers
where ConversationMembers.UserId = @UserId)
) and ConversationMembers.UserId != @UserId;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountOfUnreadNotificationsByUserId]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetCountOfUnreadNotificationsByUserId]
@UserId nvarchar(50)
as
begin
select COUNT(*) as UnreadNotificationCount from Notifications 
where Notifications.PostId in (select Posts.PostId from posts where Posts.UserId = @UserId) and Notifications.IsRead = 0
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFriendsCountByUserId]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetFriendsCountByUserId]
@UserId nvarchar(50)
as
begin
select count(*) as FriendsCount from
(
select FriendShipMembers.FriendShipMemberId , Users.* , Friendships.FriendShipId from FriendShipMembers inner join Users
on (Users.UserId =  FriendShipMembers.UserId) inner join Friendships 
on (FriendShipMembers.FriendShipId = Friendships.FriendShipId)
where FriendShipMembers.FriendShipId in 
(
	select FriendShipMembers.FriendShipId from FriendShipMembers where FriendShipMembers.UserId  =@UserId
) and FriendShipMembers.UserId != @UserId 
)R1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFriendsListByUserId]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetFriendsListByUserId]
@UserId nvarchar(50)
as
begin
select FriendShipMembers.FriendShipMemberId , Users.* , Friendships.FriendShipId from FriendShipMembers inner join Users
on (Users.UserId =  FriendShipMembers.UserId) inner join Friendships 
on (FriendShipMembers.FriendShipId = Friendships.FriendShipId)
where FriendShipMembers.FriendShipId in 
(
	select FriendShipMembers.FriendShipId from FriendShipMembers where FriendShipMembers.UserId  =@UserId
) and FriendShipMembers.UserId != @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNotificationsByUserId]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetNotificationsByUserId]    
@UserId nvarchar(50)    
as    
begin    
select Notifications.NotificationId , Notifications.Content,Notifications.PostId , Notifications.UserId , Notifications.NotificationTypeId,    
Notifications.NotificationDate , Notifications.IsRead , Users.FirstName , Users.LastName , Users.Gender , users.ProfilePic from Notifications inner join Users    
on (Users.UserId = Notifications.UserId)    
where Notifications.PostId in (select Posts.PostId from posts where Posts.UserId = @UserId) and Notifications.IsRead = 0  and Notifications.UserId != @UserId  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsConversationExists]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_IsConversationExists]
@CurrentUserId nvarchar(50),
@TargetUserId nvarchar(50)
as 
begin
	   select found = 1 where EXISTS (
               SELECT 1
               FROM ConversationMembers cm1
               JOIN ConversationMembers cm2 ON cm1.ConversationId = cm2.ConversationId
               WHERE cm1.UserId = @CurrentUserId
                 AND cm2.UserId = @TargetUserId
           )
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsFriendShipExists]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsFriendShipExists]  
@CurrentUserId nvarchar(50),  
@TargetUserId nvarchar(50)  
as   
begin  
    select IsFound =
		case 
	
		when
		EXISTS (  
               SELECT 1  
               FROM FriendShipMembers fm1  
               JOIN FriendShipMembers fm2 ON fm1.FriendShipId = fm2.FriendShipId  
               WHERE fm1.UserId = @CurrentUserId  
                 AND fm2.UserId = @TargetUserId  
           ) then 1
		   
		else 0
		end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_TwoFaLogIn]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TwoFaLogIn]    
@Code int    
    
as    
begin    
 select Users.UserId ,FirstName , LastName ,UserName,DateOfBirth,Email,PassWord,Phone,ProfilePic , IsEmailVerified,IsActive , Gender from Users inner join Otps    
 on (Users.UserId = Otps.UserId)    
 where (Users.IsEmailVerified = 1 and Users.IsActive = 1) and (Otps.ExpirationDate > GETDATE() and Otps.IsUsed = 0 and Otps.Code = @Code)    
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 18/07/2025 16:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUser]    
@UserId nvarchar(50),  
@FirstName nvarchar(50),    
@LastName nvarchar(50),    
@UserName nvarchar(50),    
@DateOfBirth date,    
@Email nvarchar(50),    
@Phone nvarchar(20) ,
@gender char(1)
    
as    
begin    
 update Users    
 set FirstName = @FirstName,    
 LastName = @LastName,    
 UserName = @UserName,    
 DateOfBirth = @DateOfBirth,    
 Email = @Email,    
 Phone = @Phone  ,
 gender = @gender
 where UserId = @UserId  
   
end 
GO
USE [master]
GO
